/Manifest.toml
docs/build/
*.ipynb
examples/
.Rproj.user
.vscode/
*.Rproj
.Rhistory
src/.ipynb_checkpoints/covariates-checkpoint.jl
src/.ipynb_checkpoints/ModelTesting-checkpoint.jl
src/.ipynb_checkpoints/UniversalDiffEq-checkpoint.jl
